body {
    font-family: 'K2D', sans-serif;
    background-color: #fff;
    color: #000;
    background-image:url("Tweedle.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    font-size: 16px;
}

.button a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.button {
    background-color: #000;
    text-align: center;
    padding: 10px;
    width: 150px;
    border-radius: 30px;
    margin-left: 150px;
    margin-bottom: 20px;
}

.stream {
    margin-left: 100px;
    width: 700px;
}


header h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-size: 38px;
}
